html,
        body {
            background-color: #fff;
            color: #636b6f;
            font-family: 'Nunito', sans-serif;
            font-weight: 200;
            height: 100vh;
            margin: 0;
        }

        .full-height {
            height: 100vh;
        }

        .flex-center {
            
            display: flex;
            justify-content: center;
        }

        .position-ref {
            position: relative;
        }

        .top-right {
            position: absolute;
            right: 10px;
            top: 18px;
        }

        .content {
            text-align: center;
        }

        .title {
            font-size: 84px;
        }

        .links>a {
            color: #636b6f;
            padding: 0 25px;
            font-size: 13px;
            font-weight: 600;
            letter-spacing: .1rem;
            text-decoration: none;
            text-transform: uppercase;
        }

        .m-b-md {
            margin-bottom: 30px;
        } 
        .dashboardContent{
            width: 90%;
            margin-top: 5%;
        }
        .progress{
            margin-top: 5%;
            margin-bottom: 5%;
            height: 3em;
        }
        .cardbox{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
        }

        .margin-top{
            margin-top: 2%;
        }
        .SelectUser{
            margin-bottom: 2%;
        }
        .emptyProgressBar{
            text-align: center;
            width: 100%;
        }
        #ECMessage{
            margin-top: 3%;
        }