.deadlineTableDiv{
    width: 80%;
    margin-left: 10%;
}
#pageHeader{
    margin-bottom: 2%;
    text-align: center;
}
.noStyle, .noStyle:hover, .noStyle:focus {
    text-decoration: none;
    color: white;
}